:root {
    --color-principal: #204B78;
    --color-secundario: #B93D17;
    --color-secundario-opacity: #b93d1756;
    --gradiente: linear-gradient(to right, #001B37, #007DFF);
    --text-opacity: #9CA3AF;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    width: 100%;
    text-align: center;
    list-style: none;
    gap: 0.2em;
}

p {
    margin-bottom: .7rem;
}



.navbar li:not(:last-child) .nav-link {
    position: relative;
    display: inline-block;
}

.navbar li .active::after {
    width: 100% !important;
    left: 0 !important;
    /* transform: translateX(-50%) !important; */
}

.navbar li:not(:last-child) .nav-link::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--color-secundario);
    position: absolute;
    bottom: 10px;
    left: 5px;
    transition: width 0.3s ease;
}


.navbar li:not(:last-child) .nav-link:hover::after {
    width: 90%;
}


/* Footer */

.footer-container {
    padding: 2% 5%;
    background-color: var(--color-principal);
    color: var(--text-opacity);
}


.footer-content {
    gap: 0.5em;
}

.footer-nav,
.footer-section {
    width: 100%;
    gap: 1em;
}

.footer-section a {
    color: var(--text-opacity);
}

.footer-section li {
    list-style: none;
    color: var(--text-opacity);
    margin-bottom: .7rem;
}

footer h3 {
    color: white;
    text-align: center;
    margin: 1em 0;
}

/* .footer-section:not(:nth-child(1)) p {
    text-align: center;
} */


.footer-bottom {
    width: 100%;
    border-top: var(--text-opacity) 1px solid;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

.icon-social {
    font-size: 1.5em;
    color: var(--text-opacity);
    margin: 0 .3em;
}


/* General */
section:not(:nth-child(1)) {
    margin: 3rem 0;
    text-align: center;
}

.btn-fill {
    background-color: var(--color-principal);
    padding: .75em 1.5em;
    border-radius: 8px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid white;
    padding: .75em 1.5em;
    border-radius: 8px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
    margin: 2em 0;
}

/* .button-container :last-child:hover,
.button-container :first-child:hover, */
.btn-fill:hover,
.btn-outline:hover,
.btn:hover {
    background-color: var(--color-secundario);
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.padding-sections {
    padding: 0 10%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.125em;
    margin-bottom: 10px;
}

/* Seccion main con imagen */
.main-section-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--gradiente);
    color: white;
    padding: 5% 10%;
}

.header-section {
    width: 90%;
}

/* seccion main sin imagen */
.main-section {
    text-align: center;
    color: white;
    padding: 5% 10%;
    background: var(--gradiente);
}

.image-section img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(0, 0, 0), -3px -3px 20px rgba(255, 255, 255, 0.253);
    /* filter: drop-shadow(0px 0px 100px rgb(0, 0, 0)); */
}



/* News section */
.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-article {
    width: 100%;
    height: 35rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 1.5em 0;
}

.news-container a h3:hover {
    color: var(--color-secundario);
    text-decoration: underline;
    cursor: pointer;
}

.news-container a h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-article img {
    width: 100%;
    height: 17em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.news-article p {
    width: 100%;
    min-height: 2em;
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
    color: #3c3c3c90;
}

/* Galeria Dragones */
.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
    padding: 3em 0;
    background-color: #f4f4f4;
}

.gallery-container img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


/* Nuestra Historia */
.history-section {
    gap: 10em;
    margin-top: 2em;
}

.history-section .history-text {
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.history-section img {
    border-radius: 10px;
    width: 75%;
    margin: 0 auto;
}

/* Nuestros Valores */
.values-container {
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
}

.card-icons {
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 16rem;
    height: 15rem;
    text-align: center;
}

.card-icons .icon-value {
    display: inline-flex;
    /* hace que se comporte como contenedor flexible */
    align-items: center;
    /* centra verticalmente el ícono */
    justify-content: center;
    /* centra horizontalmente el ícono */

    width: 80px;
    /* ancho fijo */
    height: 80px;
    background-color: #204b786b;
    color: var(--color-principal);
    font-size: 3em;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.card-icons p {
    color: var(--text-opacity);
}


.card-icons .icon {
    font-size: 5em;
    color: var(--color-principal);
    margin-bottom: 10px;
}

/* Nuestro Equipo */
.team-container {
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
}

.team-card img {
    width: 7rem;
    border-radius: 50%;
}

.team-card h3 {
    font-weight: bold;
    margin: 1em 0;
}

.team-card {
    background-color: white;
    text-align: center;
    color: black;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 15em;
}

.team-card p {
    text-align: center;
    color: var(--color-secundario);
}

/* Cards de Categorias */
.category-cards-container {
    gap: 5em;
    justify-content: center;
    margin-top: 2em;
}

.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    width: 12em;
}

.category-card h3 {
    font-weight: bold;
    font-size: 3em;
}

.category-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: -2px 2px 15px var(--color-secundario-opacity);
}

/* Información de contacto */
.contact-form {
    padding: 3em 10%;
    margin-top: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* noticia */
.new-section {
    text-align: center;
    margin-top: 2em;
}

.new-section .header-section p {
    color: var(--text-opacity);
}

.new-section .image-news img {
    width: 50%;
    border-radius: 10px;
    margin: 2em auto;

}



/* Media Queries */
@media (min-width: 768px) {
    .navbar {
        padding: 0 5rem;
    }

    .nav-link {
        padding: 0.6em 0;
    }

    .main-section-img {
        flex-direction: row;
        text-align: left;
    }

    .button-container {
        flex-direction: row;
        justify-content: start;
    }

    .news-container {
        display: flex;
        flex-direction: row;
    }

    .news-article {
        min-width: 20%;
        margin-right: .8em;
    }

    .history-section img {
        width: 35%;
    }

    .image-section img {
        box-shadow: 30px 30px 100px rgb(0, 0, 0), -30px -30px 100px rgba(255, 255, 255, 0.253);
    }

    .image-section {
        text-align: center;
    }

    .gallery-container img {
        width: 20%;
    }
}